dbt_modeling:
  outputs:
    serving:
      dbname: dev
      host: <REDSHIFT_ENDPOINT>
      password: <REDSHIFT_PASSWORD>
      port: 5439
      schema: deftunes_serving
      threads: 1
      type: redshift
      user: <REDSHIFT_USER>
  target: serving 